<div>
  <strong><p>Prénom</p></strong>
  <%= @user.first_name %>

  <%= link_to edit_user_path do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
</div>

<br>
<br>

<div>
  <strong><p>Noms de Famille</p></strong>
  <%= @user.last_name %>

  <%= link_to edit_user_path do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
</div>

<br>
<br>

<div>
  <strong><p>Rue</p></strong>
  <%= @user.address %>

  <%= link_to edit_user_path do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
</div>

<br>
<br>

<div>
  <strong><p>Code Postal</p></strong>
  <%= @user.postal_code %>

  <%= link_to edit_user_path do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
</div>

<br>
<br>

<div>
  <strong><p>Ville</p></strong>
  <%= @user.city %>

  <%= link_to edit_user_path do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
</div>

<br>
<br>

<div>
  <strong><p>Niveau actuel</p></strong>
  <%= @user.level %>

  <%= link_to edit_user_path do %>
    <i class="fa-solid fa-pen"></i>
  <% end %>
</div>
