<div>
  <strong><p>Prénom</p></strong>
  <%= current_user.first_name %>
</div>

<br>
<br>

<div>
  <strong><p>Noms de Famille</p></strong>
  <%= current_user.last_name %>
</div>

<br>
<br>

<div>
  <strong><p>Rue</p></strong>
  <%= current_user.address %>
</div>

<br>
<br>

<div>
  <strong><p>Code Postal</p></strong>
  <%= current_user.address %>
</div>

<br>
<br>

<div>
  <strong><p>Ville</p></strong>
  <%= current_user.address %>
</div>

<br>
<br>

<div>
  <strong><p>Niveau actuel</p></strong>
  <%= current_user.level %>
</div>
