<div data-search-events-target="list">
  <% if params[:query].blank? %>
    <h2><%= events.count %> <%= 'évènement'.pluralize %> <%= 'disponible'.pluralize %></h2>
  <% else %>
    <h2><%= events.count %> <%= 'resultat'.pluralize %> pour <code><%= params[:query] %></code></h2>
  <% end %>


  <div class="cards-index2">
    <% @events.each do |event| %>

      <%= render 'event_info', event: event %>

    <% end %>
  </div>
</div>
