<div class="cards-index2">
    <% @events.each do |event| %>

    <div class="unique-card">
      <div class="card-image-index">
        <%= image_tag "#{event.category}.jpg" %>
      </div>

      <div class="card-text-index">
        <p class="text-date-index"><%= event.date %></p>
        <p class="text-date-index"><%= t(event.category) %></p>
        <p class="text-name-event-index"><%= event.name.capitalize %></p>
        <p class="text-city-index"><%= event.address.capitalize %></p>
        <p class="text-price-index"><%= event.min_price %> - <%= event.max_price %>€ la bouteille</p>
      </div>
    </div>
  <% end %>
</div>
