<div class="cards-index2">
    <% @events.each do |event| %>

    <div class="unique-card">
      <div class="card-image-index">
        <% if event.photo.key.nil? %>
        <img src="https://res.cloudinary.com/dlwjol4qx/image/upload/w_50,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1660911420/cld-sample-5.jpg" alt="">
        <% else %>
          <%= cl_image_tag event.photo.key%>
        <% end %>
      </div>

      <div class="card-text-index">
        <p class="text-date-index"><%= event.date %></p>
        <p class="text-name-event-index"><%= event.name.capitalize %></p>
        <p class="text-city-index"><%= event.address.capitalize %></p>
        <p class="text-price-index"><%= event.min_price %> - <%= event.max_price %>€ la bouteille</p>
      </div>
    </div>
  <% end %>
</div>
