<h1>Événements</h1>
<p>Découvrez les événements</p>

<%# Search bar  %>
<%= form_with url: events_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Rechercher un événement"
  %>
  <%= submit_tag "Rechercher", class: "btn btn-primary" %>
<% end %>

<%# Filters %>


<%# Iteration on all events %>
<% @events.each do |event| %>

  <%# Displaying one event: %>

  <%# Event photo from Cloudinary %>
  <% if event.photo.key.nil? %>
    <img src="https://res.cloudinary.com/dlwjol4qx/image/upload/w_50,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1660911420/cld-sample-5.jpg" alt="">
  <% else %>
    <%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <%# Event infos %>
  <%= event.name %>
  <%= event.category %> <%# [Sud-Ouest Bordeaux Loire Champagne Alsace-Lorraine Bourgogne Jura-Bugey-Savoie Beaujolais Rhône Corse Provence Languedoc-Roussillon]  %>
  <%= event.level %> <%# [Comfirmé Intermédiaire Débutant] %>
  <%= event.date %>
  <%= event.address %> <%# Ici on voudra la ville : trouver un moyen d'extraire la ville %>
  <%= event.description %>
  <%= event.min_price %> - <%= event.max_price %>
  <%= event.max_number_guest %>
  <%= event.host_request %>


<% end %>
