<body class="body-show">

  <div class="container-show">
    <div class="card-beg">

      <div class="photo-card">
        <%= image_tag "#{@event.photo}" %>
        <div class="avatar-show">
          <ul>
            <%= @event.host.first_name %>
            <%= @event.host.last_name %> |
            <div class="pink">
              <i class="fa-solid fa-bullseye"></i> <%= @event.host.level %>
            </div>
          </ul>
        </div>

        <%# Displaying avatar or default avatar %>
        <% if @event.host.photo.key %>
          <%= cl_image_tag @event.host.photo.key, class: 'image-avatar-show' %>
        <% else %>
          <%= image_tag "kitten.jpg", class: 'image-avatar-show' %>
        <% end %>

      </div>

      <div class="photo-card-text">

        <div class="header-show">
          <p class= "pink"><%= @event.date %></p>
          <p class= "bold"><%= @event.name %></p>
          <%# <p><%= @event.city %></p>
          <%# <p><%= @event.area %></p>
        </div>

        <div class="footer-show">
          <div class="left">
            <div class="left-in-left">
              <div class="icon-participants"><i class="fa-solid fa-user-group"></i></div>
              <div class="text-participant"><p><%= @event.bookings.count %></p> <p> &nbsp participants</p></div>
            </div>

            <div class="right-in-left">
              <div class="icon-price"><i class="fa-solid fa-wine-bottle"></i></div>
              <div class="price-text"><p><%= @event.min_price %>€ à <%= @event.max_price %>€</p></div>
            </div>
          </div>
          <div class="right"></div>
        </div>

      </div>

    </div>

    <div class="border-bottom"></div>

    <div class="description">
      <p class="bold">Description</p>
      <p><%= @event.description %></p>
    </div>

    <div class="border-bottom"></div>

    <p class="titre-participant-bold">Les Participants</p>

    <div class="card-index-list">
      <% @bookings.each do | booking | %>
        <div class="single-card">

          <%# Displaying avatar or default avatar %>
          <% if booking.guest.photo.key %>
            <%= cl_image_tag booking.guest.photo.key, class: 'image-avatar-show' %>
          <% else %>
            <%= image_tag "kitten.jpg", class: 'image-avatar-show' %>
          <% end %>


          <div class="card-index-list-text">
            <ul>
              <%= booking.guest.first_name %>
              <%= booking.guest.last_name %> |
              <div class="pink"><i class="fa-solid fa-bullseye"></i> <%= booking.guest.level %></div>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

    <div class="border-bottom"></div>


    <div class="map">
      <div class="map-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVwCyAX1OfLensC6oAcpRQMFIBaqYSTOjqJg&usqp=CAU" alt="" class="image-show">
      </div>
    </div>

    <div class="btn-card-show">
      <%#= link_to "Participez" %>
      <%= simple_form_for [@event, @booking], html: { novalidate: false } do |f| %>
        <%= f.error_notification %>
        <%= f.input :comment %>
        <%= f.submit "Participer", class: "btn btn-primary" %>
      <% end %>
    </div>


    <div class="border-bottom"></div>

    <div class="chat">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVwCyAX1OfLensC6oAcpRQMFIBaqYSTOjqJg&usqp=CAU" alt="" class="image-show">
    </div>
  </div>
</body>
