<div class="container-landing">
  <div class="screen background-img">
    <div class="block">
      <h1 class="titre-landing">WineMeUp</h1>

      <div class="slogan">
        <h2 class="sous-titre-landing">Venez partager un moment convivialité autour du vin</h2>
      </div>

      <div class="block-button">
        <div class="block-button-primary">
          <%= link_to "Commencez maintenant", new_user_session_path, class: "btn-landing"%>
        </div>
        <div class="block-button-empty"></div>
      </div>

    </div>
  </div>
</div>


<div class="container-second">
  <div class="screen-second">



<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-card-container">
        <img src="https://images.unsplash.com/photo-1491924778227-f225b115dd5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100" alt="...">
        <p class="text-carousel">Ameliorer vos connaissances en oenologie</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-card-container">
        <img src="https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100" alt="...">
        <p class="text-carousel">Rencontrez des amateurs de vin près de chez-vous</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-card-container">
        <img src="https://images.unsplash.com/photo-1529573164479-af78bbb26447?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" class="d-block w-100" alt="...">
        <p class="text-carousel">Le reste n'est que magie</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <%# <span class="carousel-control-next-icon" aria-hidden="true"></span> %>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
</div>


    <%= link_to "S'inscrire", new_user_registration_path %>

    <%= link_to "Prochains évènements", events_path%>

<div class="container">
  <h2 class="sous-titre-landing titre-second-screen">Les étapes pour rejoindre votre premier évènement</h2>

  <ul>
    <li>S'inscrire</li>
    <li>Repondez à quelques questions afin de personaliser votre profile eunologique</li>
    <li>Rendez-vous sur la page des évènements de votre ville</li>
    <li>Affinez vos recherches et selectionnez l'évènement de votre choix</li>
    <li>Le tour est joué, les découvertes viticoles s'ouvrent à vous</li>
    <li>Partagez avec nous vos retours d'expérience afin d'affiner votre profile</li>
  </ul>

    <% unless user_signed_in? == true %>
      <%= link_to "commencez maintenant", new_user_session_path %>
    <% else %>
      <%= link_to "Rejoins un évènement", events_path %>
    <% end %>
</div>
