  <div class="survey" data-controller="survey">
    <%= simple_form_for @survey, url: user_surveys_path do |f| %>

    <h2 class="titre-create-event text-center">Obtenir des recommandations</h2>


    <div class="question_1">
      <%= f.input :question_1,
                    as: :radio_buttons,
                    label: "Votre plaisir ultime?",
                    collection:
                    [
                      ['Rouge'],
                      ['Rosé'],
                      ['Blanc'],
                      ['Bulles'],
                    ],
                    value_method: :first,
                    required: true %>
    </div>

    <div class="question_2">
      <%= f.input :question_2,
                  as: :radio_buttons,
                  label: "Plutôt finesse ou puissance?",
                  collection:
                    [
                      ['Finesse'],
                      ['Puissance'],
                    ],
                  value_method: :first,
                  required: true %>

    </div>

    <div class="question_3">
        <%= f.input :question_3,
                    as: :radio_buttons,
                    label: "Plutôt fraîcheur ou rondeur?",
                    collection:
                    [
                      ['Fraîcheur'],
                      ['Rondeur'],
                    ],
                    value_method: :first,
                    required: true %>
    </div>

    <div class="button-start">
        <%= f.submit "Commencer", class: "btn"%>
    </div>
    <% end %>
  </div>
