<div class="container">

  <div class="card-dashboard-1">
    <%= cl_image_tag current_user.photo.key %>
    <div class="card-dashboard-1-infos">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <h3><%= current_user.level %></h3>
    </div>
  </div>

<hr class="mb-4 mt-4">

  <div>
    <%= link_to "Évènements", dashboard_path %>
    <%= link_to "Profil", user_path(current_user) %>
  </div>

  <h2>Évènements à venir</h2>

<%# Display future events (host) %>
<% @future_hosted_events.each do |event| %>
  <div class="card-dashboard-2">
    <%= cl_image_tag event.photo.key %>
    <div class="card-dashboard-2-infos">
      <div class= "d-flex justify-content-between">
        <h3><%= event.date.strftime('%d %b %Y') %> - <%= event.time.strftime('%H:%M') %></h3>
        <% if event.host == current_user %>
          <%= link_to 'host_event_path' do %>
            <i class='fa-regular fa-pen-to-square'></i>
          <% end  %>
        <% end %>
      </div>
      <p><%= event.name %></p>
        <p class="bluenight"><%= event.category%></p>
    </div>
  </div>
<% end %>

<%# Display future bookings (guest) %>
<% @future_attended_events.each do |event| %>
 <div class="card-dashboard-2">
    <%= cl_image_tag event.photo.key %>
    <div class="card-dashboard-2-infos">
      <div class= "d-flex justify-content-between">
        <h3><%= event.date.strftime('%d %b %Y') %> - <%= event.time.strftime('%H:%M') %></h3>
        <% if event.host == current_user %>
          <%= link_to 'host_event_path' do %>
            <i class='fa-regular fa-pen-to-square'></i>
          <% end  %>
        <% end %>
      </div>
      <p><%= event.name %></p>
        <p class="bluenight"><%= event.category%></p>
    </div>
  </div>
<% end %>

<hr class="mb-4 mt-4">

<h2>Évènements passés</h2>

<%# Display past events (host) %>
<% @past_hosted_events.each do |event| %>
  <div class="card-dashboard-2">
    <%= cl_image_tag event.photo.key %>
    <div class="card-dashboard-2-infos">
      <div class= "d-flex justify-content-between">
        <h3><%= event.date.strftime('%d %b %Y') %> - <%= event.time.strftime('%H:%M') %></h3>
        <% if event.host == current_user %>
          <%= link_to 'host_event_path' do %>
            <i class='fa-regular fa-pen-to-square'></i>
          <% end  %>
        <% end %>
      </div>
      <p><%= event.name %></p>
        <p class="bluenight"><%= event.category%></p>
    </div>
  </div>
<% end %>

<%# Display past bookings (guest) %>
<% @past_attended_events.each do |event| %>
 <div class="card-dashboard-2">
    <%= cl_image_tag event.photo.key %>
    <div class="card-dashboard-2-infos">
      <div class= "d-flex justify-content-between">
        <h3><%= event.date.strftime('%d %b %Y') %> - <%= event.time.strftime('%H:%M') %></h3>
        <% if event.host == current_user %>
          <%= link_to 'host_event_path' do %>
            <i class='fa-regular fa-pen-to-square'></i>
          <% end  %>
        <% end %>
      </div>
      <p><%= event.name %></p>
        <p class="bluenight"><%= event.category%></p>
    </div>
  </div>
<% end %>
