<div class="container">

  <div class="card-dashboard-1">
    <%= cl_image_tag current_user.photo.key %>
    <div class="card-dashboard-1-infos">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <h3><%= current_user.level %></h3>
    </div>
  </div>
  --------------------------------------------
  <div>
    <%= link_to "Évènements", dashboard_path %>
    <%= link_to "Profil", user_path(current_user) %>
  </div>

  <h2>Évènements à venir</h2>

  <%# Display events (host) %>
  <% @hosted_events.each do |event| %>
  <%= event.name %>
  <% end %>


<%# Display events (host) %>
<% @hosted_events.each do |event| %>
  <div class="card-dashboard-2">
    <%= cl_image_tag event.photo.key %>
    <div class="card-dashboard-2-infos">
      <h3><%= event.date %> <%= event.time %></h3>
      <p><%= event.name %></p>
      <p><%= event.category %></p>
    </div>
  </div>
<% end %>

<%# Display bookings (guest) %>
<% @attended_events.each do |event| %>



<% end %>


  ---------------------------------------------

  <h2>Profil œnologique</h2>

</div>
