<div class="container">

  <div class="card-dashboard-1 d-flex align-items-center justify-content-center">

    <%# Displaying avatar or default avatar %>
    <% if current_user.photo.key %>
      <%= cl_image_tag current_user.photo.key %>
    <% else %>
      <%= image_tag "kitten.jpg" %>
    <% end %>

    <div class="card-dashboard-1-infos d-flex flex-column align-items-center">
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <h3><%= current_user.level %></h3>
    </div>
  </div>

<hr class="mb-4 mt-4">

<%# TABS %>
<div class="text-center">
  <ul class="nav nav-pills d-inline-flex text-center border-0 rounded-nav" id="myTab" role="tablist">
    <li class="nav-item flex-fill" role="presentation">
      <button class="nav-link active" id="events-tab" data-bs-toggle="tab" data-bs-target="#events" type="button" role="tab">Évènements</button>
    </li>
    <li class="nav-item flex-fill" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab">Profil</button>
    </li>
  </ul>
</div>

<div class="tab-content">

  <%# EVENTS %>
  <div class="tab-pane active" id="events" role="tabpanel">
    <div id="events">

      <h2>Mes évènements</h2>
        <%# Display future events (host) %>
        <% @future_hosted_events.each do |event| %>
          <div class="card-dashboard-2">
              <%= image_tag "#{event.photo}" %>
            <div class="card-dashboard-2-infos">
              <div class= "d-flex justify-content-between">
                <h3><%= event.date.strftime('%d %b %Y') %> - <%= event.time.strftime('%H:%M') %></h3>
                <% if event.host == current_user %>
                  <%= link_to edit_host_event_path(event) do %>
                    <i class='fa-regular fa-pen-to-square'></i>
                  <% end  %>
                <% end %>
              </div>
              <p><%= event.name %></p>
                <p class="bluenight"><%= event.category%></p>
            </div>
          </div>
        <% end %>

        <%# Display past events (host) %>
        <% @past_hosted_events.each do |event| %>
          <div class="card-dashboard-2">
              <%= image_tag "#{event.photo}" %>
            <div class="card-dashboard-2-infos">
              <div class= "d-flex justify-content-between">

              </div>
              <p><%= event.name %></p>
                <p class="bluenight"><%= event.category%></p>
            </div>
          </div>
        <% end %>

      <hr class="mb-4 mt-4">

      <h2>Évènements à venir</h2>
        <%# Display future bookings (guest) %>
        <% @future_attended_events.each do |event| %>
        <div class="card-dashboard-2">
              <%= image_tag "#{event.photo}" %>
            <div class="card-dashboard-2-infos">
              <div class= "d-flex justify-content-between">
                <h3><%= event.date.strftime('%d %b %Y') %> - <%= event.time.strftime('%H:%M') %></h3>
                <% if event.host == current_user %>
                  <%= link_to edit_host_event_path(event) do %>
                    <i class='fa-regular fa-pen-to-square'></i>
                  <% end  %>
                <% end %>
              </div>
              <p><%= event.name %></p>
                <p class="bluenight"><%= event.category%></p>
            </div>
          </div>
        <% end %>



      <hr class="mb-4 mt-4">

      <h2>Évènements passés</h2>

      <%# Display past bookings (guest) %>
      <% @past_attended_events.each do |event| %>
      <div class="card-dashboard-2">
            <%= image_tag "#{event.photo}" %>
          <div class="card-dashboard-2-infos">
            <div class= "d-flex justify-content-between">

            </div>
            <p><%= event.name %></p>
              <p class="bluenight"><%= event.category%></p>
          </div>
        </div>
      <% end %>

    </div>

  </div>

  <%# PROFILE %>
  <div class="tab-pane" id="profile" role="tabpanel">
    <div id="profile" class="toggle-active">
      <div data-controller="edit">
        <strong><p>Prénom</p></strong>
        <%= current_user.first_name %>

        <i data-action="click->edit#displayForm" class="fa-solid fa-pen"></i>

        <span class="d-none" data-edit-target="content">
          <%= form_for(current_user, data: { turbo: false }) do |f| %>
          <%= f.text_field :first_name, :value => current_user.first_name %>
          <% end %>
        </span>
      </div>

      <br>
      <br>

      <div data-controller="edit">
        <strong><p>Nom de Famille</p></strong>
        <%= current_user.last_name %>

        <i data-action="click->edit#displayForm" class="fa-solid fa-pen"></i>

        <span class="d-none" data-edit-target="content">
          <%= form_for(current_user, data: { turbo: false }) do |f| %>
          <%= f.text_field :last_name, :value => current_user.last_name %>
          <% end %>
        </span>
      </div>

      <br>
      <br>

      <div data-controller="edit">
        <strong><p>Rue</p></strong>
        <%= current_user.address %>

        <i data-action="click->edit#displayForm" class="fa-solid fa-pen"></i>

        <span class="d-none" data-edit-target="content">
          <%= form_for(current_user, data: { turbo: false }) do |f| %>
          <%= f.text_field :address, :value => current_user.address %>
          <% end %>
        </span>
      </div>

      <br>
      <br>

      <div data-controller="edit">
        <strong><p>Code Postal</p></strong>
        <%= current_user.postal_code %>

        <i data-action="click->edit#displayForm" class="fa-solid fa-pen"></i>

        <span class="d-none" data-edit-target="content">
          <%= form_for(current_user, data: { turbo: false }) do |f| %>
          <%= f.text_field :postal_code, :value => current_user.postal_code %>
          <% end %>
        </span>
      </div>

      <br>
      <br>

      <div data-controller="edit">
        <strong><p>Ville</p></strong>
        <%= current_user.city %>

        <i data-action="click->edit#displayForm" class="fa-solid fa-pen"></i>

        <span class="d-none" data-edit-target="content">
          <%= form_for(current_user, data: { turbo: false }) do |f| %>
          <%= f.text_field :city, :value => current_user.city %>
          <% end %>
        </span>
      </div>

      <br>
      <br>

      <div data-controller="edit">
        <strong><p>Niveau actuel</p></strong>
        <%= current_user.level %>

        <i data-action="click->edit#displayForm" class="fa-solid fa-pen"></i>

        <span class="d-none" data-edit-target="content">
          <%= form_for(current_user, data: { turbo: false }) do |f| %>
          <%= f.text_field :level, :value => current_user.level %>
          <% end %>
        </span>
      </div>

    </div>
  </div>
</div>
