<div class="form-login">
  <div class="firstname-form">
    <div class="fullname-item1">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  label: false,
                  input_html: { placeholder: "Prénom" }%>
    </div>

  <div class="description-form">
    <%= f.input :description, required: true,
                required: true,
                autofocus: true,
                label: false,
                input_html: { placeholder: "Description" }%>
  </div>

    <div class="address-form">
      <div class="address-item1">
        <%= f.input :address,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { placeholder: "Adresse", class: "fulladdress" }%>
      </div>

      <div class="address-item2">
        <%= f.input :postal_code,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { placeholder: "Code Postal", class: "fulladdress" }%>
      </div>
      <div class="address-item3">
        <%= f.input :city,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { placeholder: "Ville", class: "fulladdress" }%>
      </div>
    </div>

        <%= f.input :date, as: :date, html5: true, required: true,
                    required: true,
                    autofocus: true,
                    label: false %>

    <div class="date-level-form">
      <div class="date-level-form-item1">
        <%= f.input :level, as: :radio_buttons, collection: [
          ['Novice'],
          ['Intermédiaire'],
          ['Expert']
          ], value_method: :first, required: true %>
      </div>

      <div class="date-level-form-item2">
        <%= f.input :category, collection: %w[Alsace-Lorraine Beaujolais Bordeaux Bourgogne Champagne Corse Jura-Bugey-Savoie Languedoc-Roussillon Loire Provence Rhône Sud-Ouest], required: true %>
      </div>
    </div>


  <div class="host-form">
    <div class="host-form-item1">
      <%= f.input :host_request, required: true,
                  required: true,
                  autofocus: true,
                  label: false,
                  input_html: { placeholder: "Demande de l'hôte" }%>
    </div>

    <div class="host-form-item2">
      <%= f.input :max_number_guest, required: true,
                  required: true,
                  autofocus: true,
                  label: false,
                  input_html: { placeholder: "Nombre maximum de participant" }%>
    </div>
  </div>

  <div class="price-form">
    <div class="price-form-item1">
      <%= f.input :min_price, required: true,
                  required: true,
                  autofocus: true,
                  label: false,
                  input_html: { placeholder: "Prix minimum / bouteille" }%>
    </div>

    <div class="price-form-item1">
    <%= f.input :max_price, required: true,
                required: true,
                autofocus: true,
                label: false,
                input_html: { placeholder: "Prix maximum / bouteille" }%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Créer", class: "btn"%>
  </div>
</div>
